<div>
  <h4>Palette 2 Settings</h4>
  <div class="checkbox theme-input-label">
    <label>
      <span>Auto Connect To Palette 2</span>
      <input class="autoconnect-input" type="checkbox" data-bind="checked: settings.plugins.palette2.autoconnect">
    </label>
    <label>
      <span>Display Palette 2 Alerts</span>
      <input class="alert-input" type="checkbox" data-bind="checked: settings.plugins.palette2.palette2Alerts">
    </label>
    <label>
      <span>Enable Automatic feed-rate slow down during splice?</span>
      <input class="feedrate-input" type="checkbox" data-bind="checked: settings.plugins.palette2.feedratecontrol">
    </label>
    <label>
      <span>Automatic feed-rate slow down Percentage</span>
      <input class="feedrateslowpct-input" type="number" min=1 max=100 data-bind="value: settings.plugins.palette2.feedrateslowpct">
    </label>
    <label>
      <span>Automatic feed-rate normal percentage</span>
      <input class="feedratenormalpct-input" type="number" min=1 max=100 data-bind="value: settings.plugins.palette2.feedratenormalpct">
    </label>
  </div>
</div>