<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Auto Connect') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.palette2.autoconnect">
        </div>
    </div>
</form>