<div class="row">
	<div class="distance" style="margin-left: 50px">
			<div class="row">
				<h4>Palette 2</h4>
				<p>Connection Status: <span id="connection-state-msg" class="text-muted" data-bind="text: connectionStateMsg">Not Connected</span></p>
				<div data-bind="if: !settings.settings.plugins.palette2.autoconnect()" style="margin-top: 20px">
					<button class="btn btn-primary connect-palette-button" data-bind="click: connectOmega">Connect</button>
					<button type="button" class="btn btn-primary" data-bind="click: disconnectPalette2, enable: connected">Disconnect</button>
				</div>
				<div style="margin-top: 10px">
					<button type="button" class="btn btn-primary cancel-palette-button" data-bind="click: sendCancelCmd, enable: connected">Cancel Print</button>
				</div>
			</div>
			<hr>
			<div class="row palette-status">
				<h4 class="palette-status-title">Status</h4>
				<h5 class="current-status">No Ongoing Multi-Material Print Detected</h5>
				<ul class="status-container">
					<li class="single-status splice-amount">
						<h5 class="single-status-title">Current Splice: </h5>
						<span class="single-status-value current-splice"></span>
						<span class="single-status-value total-splices">-</span>
					</li>
					<li class="single-status filament-used">
						<h5 class="single-status-title">Filament Used: </h5>
						<span class="single-status-value">-</span>
					</li>
				</ul>
			</div>
			<hr>
			<div class="row">
				<h4 class="manual-controls">Manual Controls</h4>
				<div style="margin-top: 10px">
					<h5>Move Drives:</h5>
					<select data-bind="options: jogDrives, value: selectedJogDriveObs , enable: connected"></select>
					<select data-bind="options: jogDists, value: selectedJogDistance, optionsText: 'distance', optionsValue: 'dvalue', enable: connected"></select>
					<button class="btn btn-primary" data-bind="click: sendJogCmd, enable: connected">Run</button>
					<div class="checkbox">
						<label><input type="checkbox" data-bind="checked: jogWithOutgoing, enable: connected">With Outgoing</label>
					</div>
				</div>
			</div>
			<div class="row">
				<h5>Other Controls:</h5>
				<button type="button" class="btn btn-primary" data-bind="click: sendCutCmd, enable: connected">Cut</button>
				<button type="button" class="btn btn-primary" data-bind="click: sendClearOutCmd, enable: connected">Clear Palette</button>
			</div>
			<div class="row" style="margin-top: 7px; margin-bottom: 10px">
				<h5>Send Command to Palette:</h5>
				<input type="text" data-bind="value: omegaCommand, enable: connected">
				<button class="btn btn-primary" data-bind="click: sendOmegaCmd, enable: connected">Send</button>
			</div>
	</div>
</div>

<div id="omega_dialog" class="modal hide fade large">
    <div>Follow the instructions on your Palette</div>
</div>
