/*Stop Button*/
select,
input[type="text"] {
  margin-bottom: 0;
}

.cancel-palette-button {
  margin-bottom: 10px;
}

.manual-controls {
  margin-bottom: 20px;
}

.status-container {
  list-style: none;
  margin: 0;
}

.single-status {
  display: flex;
  align-content: center;

  &-title {
    margin-right: 10px;
  }

  span {
    align-self: center;
  }

  .total-splices {
    white-space: pre;
  }
}

.current-status {
  font-weight: 400;
  font-style: italic;

  &.completed {
    color: green;
  }
}
