<div class="row">
<div class="distance" style="margin-left: 50px">
	<div class="row">
		<p>Connection Status: <span id="connection-state-msg" class="text-muted" data-bind="text: connectionStateMsg">Not Connected</span></p>
	</div>
        <div class="row">
        	<button class="btn btn-primary" data-bind="click: connectOmega">Connect to Omega</button>
    	</div>
    	<div class="row" style="margin-top: 10px">
	       	<button type="button" class="btn btn-primary" data-bind="click: showOmegaDialog">Disconnect</button>
    	</div>
        <div class="row" style="margin-top: 10px">
		<div class="btn-group" data-toggle="buttons-radio" id="omega-mod-ad">
			<button type="button" id="omega-mod-ad-1" class="btn active" value="1" data-bind="click: activeDriveTest">1</button>
			<button type="button" id="omega-mod-ad-2" class="btn" value="2" data-bind="click: activeDriveTest">2</button>
			<button type="button" id="omega-mod-ad-3" class="btn" data-bind="click: activeDriveTest">3</button>
			<button type="button" id="omega-mod-ad-4" class="btn" data-bind="click: activeDriveTest">4</button>
		</div>
        	<button class="btn btn-primary" data-bind="click: startSingleColor">Start Single Color</button>
    	</div>
    	<div class="row" style="margin-top: 10px">
	       	<button type="button" class="btn btn-primary" data-bind="click: showOmegaDialog">Show Dialog</button>
    	</div>
	<div class="row" style="margin-top: 10px">
		<input type="text" data-bind="value: omegaCommand">
		<button class="btn btn-primary" data-bind="click: sendOmegaCmd">Send Command</button>	
		<button class="btn btn-primary" data-bind="click: sendFilamentLoaded">Send Loaded</button>	
	</div>
    	<div class="row" style="margin-top: 10px">
	       	<button type="button" class="btn btn-primary" data-bind="click: showOmegaDialog">Cancel Print</button>
    	</div>
	<div class="row">
		<p>Manual Controls</p>
		<p>Drive:</p>
		<div class="btn-group" data-toggle="buttons-radio" id="omega-mod-jd">
			<button type="button" id="omega-mod-jd-1" class="btn active" data-bind="click: setJogDrive">1</button>
			<button type="button" id="omega-mod-jd-2" class="btn" data-bind="click: setJogDrive">2</button>
			<button type="button" id="omega-mod-jd-3" class="btn" data-bind="click: setJogDrive">3</button>
			<button type="button" id="omega-mod-jd-4" class="btn" data-bind="click: setJogDrive">4</button>
			<button type="button" id="omega-mod-jd-o" class="btn" data-bind="click: setJogDrive">Out</button>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-bind-"checked: jogWithOutgoing">With Outgoing</label>
		</div>
		<div class="row" style="margin-top: 10px">
			<input type="text" data-bind="value: jogDistance" placeholder="Jog Distance (mm)">
			<button class="btn btn-primary" data-bind="click: sendJogCmd">Jog</button>	
		</div>

	</div>
    	<div class="row" style="margin-top: 10px">
	       	<button type="button" class="btn btn-primary" data-bind="click: showOmegaDialog">Cut</button>
    	</div>
    	<div class="row" style="margin-top: 10px">
	       	<button type="button" class="btn btn-primary" data-bind="click: showOmegaDialog">Clear Palette 2</button>
    	</div>

</div>
</div>
<div id="omega_dialog" class="modal hide fade large">
    <div class="modal-body" style="margin-left: 50px">
    	<div class="row" style="padding-left: 20px">
        	<h3>Omega Print Info</h3>
    	</div>
       	<span class="span4">Splices: <span data-bind="text: currentSplice">0</span>/<span data-bind="text: nSplices">100</span></span>
       	<span id="loading-span" class="span4 hide">Loading Drive <span data-bind="text: loadingDrive">1</span> with <span data-bind="text: loadingColor">Green</span></span>
       	<span id="ponging-span" class="span4 hide">Ponging</span>
    </div>
</div>
